<% include layout %>

<% include pageTitle %>

<div class="panel-body">


    <div class="container"
        data-ng-cloak
        data-ng-app="articleModule"
        data-ng-controller="editArticleController">

    <form 
        class="navbar-form navbar-left" role="search"
        method = "POST"
        name= "formArticle">

    <div class="row">
        <div class="form-group">
            <label for="">Edit Article Name </label>
            &nbsp;&nbsp;
            
            <input type="text"
            class="form-control"
            placeholder="Please Enter New Article Name"
            name="articleName"
            id="articleName"
            ng-model="articleName.categoryName"

            style="width:100%"

            required>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="articleDetails"> Edit Article Description </label>
            <textarea
                class="form-control"
                placeholder="Please Enter New Article Details"
                name="articleDetails"
                id="articleDetails"
                rows="5"
                cols="30"

                ng-model="articleName.articleDescription"

                style="width:100%"

                required
            ></textarea>
        </div>
    </div>


    <div>&nbsp;</div>
    <div class="row">
        <div class="form-group" style="padding-left:40%">
            <button type="button" class="btn btn-primary"
            ng-click="editArticle()"
            >Edit Article</button>

        </div>
    </div>

        </form>

</div>

    </div>
</div>

</div> <!-- End Of Container -->


    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="../../javascripts/app/article/articleModule.js"></script>
    <script src="../../javascripts/app/article/articleServer.js"></script>
    <script src="../../javascripts/app/article/editArticleController.js"></script>